{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <h1>Create new Comment</h1>

                {{ include('admin/comment/_form.html.twig') }}

                <a href="{{ path('admin_comment_index') }}">back to list</a>
            </div>
        </div>
    </div>
{% endblock %}
